<!DOCTYPE html>
<html lang="en-GB" dir="ltr">
    <head>
        <!-- Basic Meta Information -->
        <meta charset="utf-8">
        <title>DreamSalad - Collaborative Dreaming Starts Here</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="A site where you can share your dreams and view the dreams of others... as a combined salad!">

        <!-- Initialize Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"/>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

        <!-- Link CSS -->
        <link rel="stylesheet" type="text/css" href="/styles.css">
    </head>
    <body>
        <header>
            <!-- Insert Header -->
            <%- include('partials/header.ejs') %>
        </header>
        <main>
            <!-- MAIN CONTENT -->
            <div class="container-fluid main-wrap p-4">
                <div class="row">
                    <div class="sidebar-inner-alternate col-sm-12">
                        <!-- This is an alternative sidebar that will appear only when in phone screen size -->
                        <%- include('partials/sidebar.ejs') %>
                    </div>
                </div>
                <div class="row px-2">
                    <!-- Display dream -->
                    <div class="main-body p-4 col-sm-10">
                        <h3 style="color: orange;">My DreamSalad</h3>
                        <!-- Pages -->
                        <div id="myDreamSaladList">
                        <% for (let i = returnList.length - 1; i >= 0; i--) { %>
                            <!-- Individual Dreams -->
                            <div class="pt-2 pb-2 myDreamSaladListItem">
                                <div class="card">
                                    <!-- Display the author's name -->
                                    <div class="card-header my-dreams-dream-header">
                                        <div data-bs-theme="dark" class="my-dreams-dream-header-flex">
                                            <!-- Display title -->
                                            <span class="text-white"><%= returnList[i].title %></span>
                                            <span>
                                                <!-- Favourited Number of Times -->
                                                <span style="color: pink;" title="Number of times your dream was included in a saved DreamSalad by a user">&#9829; <%= returnList[i].favourited %></span>
                                                <!-- Button trigger modal -->
                                                <!-- UPDATE BUTTON -->
                                                <button type="button" class="btn update-dream" data-bs-toggle="modal" data-bs-target="#exampleModal-<%= returnList[i].dream_id %>-update" style="background-color: orange; color: black; margin-left: 20px;; margin-right: 20px;">Edit</button>
                                                <!-- Modal -->
                                                <div class="modal fade" id="exampleModal-<%= returnList[i].dream_id %>-update" tabindex="-1">
                                                    <div class="modal-dialog modal-dialog-centered modal-lg">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h1 class="modal-title fs-5 text-white" id="exampleModalLabel-<%= returnList[i].dream_id %>-update">Update Dream</h1>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                                            </div>
                                                            <div class="modal-body text-white" style="font-weight: normal">
                                                                <!-- Update Dreams Form -->
                                                                <form action="/myDreams/<%= returnList[i].dream_id %>/update" method="POST" enctype="multipart/form-data">
                                                                    <!-- Title -->
                                                                    <div>
                                                                        <div class="row g-1 align-items-center">
                                                                            <div>
                                                                                <label for="title" class="col-form-label">Title:</label>
                                                                            </div>
                                                                            <div>
                                                                                <input type="text" id="title" name="title" class="form-control" placeholder="Title of your dream" value="<%= returnList[i].title %>" maxlength="128" required>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!-- Connector -->
                                                                    <div class="pt-3">
                                                                        <div class="row g-1 align-items-center">
                                                                            <div>
                                                                                <label for="connector_id" class="col-form-label">Connector:</label><br>
                                                                                <span style="font-size: 15px; color: lightgray;">How would you like your story to chain off from a previous story?</span>
                                                                                <select id="connector_id" name="connector_id" class="form-control" placeholder="Hello">
                                                                                    <% for (let j = 0; j < connectors.length; j++) { %>
                                                                                        <!-- Select the original connector by default -->
                                                                                        <option value="<%= connectors[j].connector_id %>" <% if (connectors[j].connector_id === returnList[i].connector_id) { %>selected<% } %>><%= connectors[j].starting_phrase %></option>
                                                                                    <% } %>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!-- Dream -->
                                                                    <div class="pt-3">
                                                                        <div class="row g-1 align-items-center">
                                                                            <div>
                                                                                <label for="dream" class="col-form-label">Dream:</label>
                                                                            </div>
                                                                            <div>
                                                                                <textarea id="dream" name="dream" class="form-control" rows="5" placeholder="What did you dream about?" maxlength="1000" required><%= returnList[i].dream %></textarea>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                        
                                                                    <!-- Image -->
                                                                    <div class="pt-3">
                                                                        <div class="row align-items-center">
                                                                            <div>
                                                                                <label for="image" class="col-form-label">Upload Image (Optional):</label>
                                                                            </div>
                                                                            <div>
                                                                                <% if (returnList[i].image) { %>
                                                                                    <input type="text" name="currentImage" value="<%= returnList[i].image %>" readonly style="display: none;">
                                                                                    <img src="/images/<%= returnList[i].image %>" class="image-upload-img pb-2" style="max-width: 450px; max-height: 450px;">
                                                                                <% } else { %>
                                                                                    <!-- If no image, then display an invisible image so we have same number of image to file selector bar pairings (for updating image selected)-->
                                                                                    <img src="" class="image-upload-img pb-2" style="max-width: 450px; max-height: 450px;" display="none">
                                                                                <% } %>
                                                                                <!-- Choose File -->
                                                                                <input type="file" id="image" name="image" class="form-control image-upload-bar" accept="image/*" value=<%= returnList[i].image %>>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <!-- Submit button -->
                                                                    <div class="pt-5">
                                                                        <input type="submit" value="Submit" class="btn btn-warning submit-button">
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Button trigger modal -->
                                                <!-- CLOSE BUTTON -->
                                                <button type="button" class="btn-close delete-dream" data-bs-toggle="modal" data-bs-target="#exampleModal-<%= returnList[i].dream_id %>"></button>
                                                <!-- Modal -->
                                                <div class="modal fade" id="exampleModal-<%= returnList[i].dream_id %>" tabindex="-1">
                                                    <div class="modal-dialog modal-dialog-centered">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h1 class="modal-title fs-5" style="font-weight: bold; color: red;" id="exampleModalLabel-<%= returnList[i].dream_id %>">Are you sure?</h1>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                                            </div>
                                                            <div class="modal-body text-white" style="font-weight: normal">
                                                                This cannot be undone!
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
                                                                <a href="/myDreams/<%= returnList[i].dream_id %>/delete"><button type="button" class="btn btn-danger">Delete</button></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="card-body dream-body">
                                        <!-- Display story content -->
                                        <p class="card-text">
                                            <%= returnList[i].dream %>
                                        </p>
                                        <!-- Display image if exists -->
                                        <% if (returnList[i].image) { %>
                                            <img src="/images/<%= returnList[i].image %>" style="max-width: 450px; max-height: 450px;"><br><br>
                                        <% } %>
                                        <p class="card-text" style="font-size: 13px; color: lightgray;">
                                            <!-- Display date (hover over to view time too)-->
                                            - Created <span title="<%= returnList[i].created.toString() %>"><%= returnList[i].created.toDateString() %></span> (Last edited <span title="<%= returnList[i].last_edited.toString() %>"><%= returnList[i].last_edited.toDateString() %></span>)
                                        </p>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                        </div>
                        <!-- Pagination -->
                        <%- include('partials/pagination.ejs'); %>
                    </div>
                    <!-- Side Bar -->
                    <div class="col-sm-2 sidebar">
                        <%- include('partials/sidebar.ejs') %>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <!-- Insert Footer -->
            <%- include('partials/footer.ejs') %>
        </footer>
        <!-- Link JavaScript -->
        <script src="/javascript.js"></script>
    </body>
</html>